.paragraph{
  text-align:center;
  font-size: 25px;
  padding: 20px;
  display: flex;
  flex-wrap:wrap;
}

.word{
  position: relative;
  margin-left: 10px;
  margin-top: 0px;
}

.shadow{
 margin-left: 10px;
  position: absolute;
  opacity: 0.3;
}

