.paragraph{
  font-size: 30px;
  padding: 20px;
  display: flex;
  flex-wrap:wrap;

}

.word{
  position: relative;
  margin-left: 8px;
  margin-top: 0px;
}

.shadow{
 margin-left: 8px;
  position: absolute;
  opacity:0.2 ;
}

