.title {
  text-align: center;
  padding: 80px 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 500;
  width: 100%;
}

.name {
  
  width: 100%;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 60px;
}

.proffessionText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 35px;
  margin-top: 30px;
}