.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100vw;
  background-color: #e5e3dc;
  padding: 15px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 900;
}


