.progress-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer; /* Pointer jaisa cursor dikhane ke liye */
}

.progress-ring {
  /* Circle ko top se shuru karne ke liye rotate karein */
  transform: rotate(-90deg);
  transition: all 0.2s ease-in-out;
}