
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.awardlist {
  
  border-bottom: 1px black solid;
  width: 100vw;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  overflow: hidden; 
}

.eachaward {
   border-top: 1px black solid;
  padding: 10px 15px;
  font-size: 20px;
}